<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Backbone Test - Photo Search</title>
    <link rel="stylesheet" href="css/style.css">

    <!-- Libraries: -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"></script>

    <!-- Application: -->
    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/router.js"></script>
  </head>
  <body>
    <h1>Photo Search</h1>
	<form id="search_form" action="" method="POST">
	    <input autocomplete="off" autofocus="true" type="text" name="txt_search" id="txt_search" value="" />
	    <input type="submit" id="btn_submit" value="Search" />
	</form>
	<ul id="ul_gallery_grid"></ul>
	<script type="text/template" id="singlePic_template">
		<li id="t_<%= index %>">
			<img src="<%= image.square %>" alt=""  />
		    <div class='thumb_title'>  
		        <p class='thumb_title_content'><%= title %></p>  
		    </div>  			
		</li>
	</script>
  </body>
</html>